n8n/VPS Automation VHCK v7 - Direct Excel Export.json
{
  "name": "VPS Automation VHCK v7 - Direct Excel Export",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const { spawn } = require('child_process');\n\nreturn new Promise((resolve) => {\n  const diagProcess = spawn('which', ['python3']);\n  let pythonPath = '';\n\n  diagProcess.stdout.on('data', (data) => {\n    pythonPath += data.toString().trim();\n  });\n\n  diagProcess.on('close', () => {\n    const scriptPath = '/app/vps-automation-vhck/scripts/fetch_vsd.py';\n    const pythonExe = pythonPath || 'python3';\n    const pythonProcess = spawn(pythonExe, [scriptPath]);\n    let output = '';\n    let errorOutput = '';\n\n    pythonProcess.stdout.on('data', (data) => {\n      output += data.toString();\n    });\n\n    pythonProcess.stderr.on('data', (data) => {\n      errorOutput += data.toString();\n    });\n\n    pythonProcess.on('close', (code) => {\n      if (code !== 0) {\n        resolve([{ json: { error: `Script exited with code ${code}`, stderr: errorOutput, status: 'error' } }]);\n        return;\n      }\n      try {\n        // Extract JSON from output (skip log lines)\n        const lines = output.split('\\n');\n        let jsonStr = '';\n        let inJson = false;\n\n        for (const line of lines) {\n          if (line.startsWith('{')) {\n            inJson = true;\n          }\n          if (inJson) {\n            jsonStr += line + '\\n';\n          }\n        }\n\n        if (!jsonStr.trim()) {\n          resolve([{ json: { error: 'No JSON found in output', status: 'error' } }]);\n          return;\n        }\n\n        const vsdData = JSON.parse(jsonStr);\n        resolve([{ json: vsdData }]);\n      } catch (e) {\n        resolve([{ json: { error: 'Failed to parse JSON output: ' + e.message, status: 'error' } }]);\n      }\n    });\n\n    pythonProcess.on('error', (error) => {\n      resolve([{ json: { error: error.message, pythonPath: pythonPath, status: 'error' } }]);\n    });\n  });\n})"
      },
      "id": "node-fetch-vsd",
      "name": "Fetch VSD (Tin Tuc)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        288,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst input = $input.first().json;\nconst excelInfo = input.excel_info;\nconst status = input.status;\n\nif (status !== 'success') {\n  return [{ json: { status: 'error', message: input.message || 'Fetch failed', details: input } }];\n}\n\nif (!excelInfo || excelInfo.status !== 'success') {\n  return [{ json: { status: 'error', message: 'Excel creation failed', details: excelInfo } }];\n}\n\nconst path = excelInfo.file;\n\ntry {\n  if (fs.existsSync(path)) {\n    const stats = fs.statSync(path);\n    return [{ json: { \n      status: 'success', \n      message: `Excel file created successfully: ${excelInfo.message}`,\n      file: path, \n      file_size: stats.size,\n      records_count: excelInfo.records_count,\n      timestamp: excelInfo.timestamp\n    } }];\n  } else {\n    return [{ json: { status: 'error', message: `File not found: ${path}` } }];\n  }\n} catch (error) {\n  return [{ json: { status: 'error', message: error.message } }];\n}"
      },
      "id": "node-save-result",
      "name": "Verify Excel File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        512,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch VSD (Tin Tuc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch VSD (Tin Tuc)": {
      "main": [
        [
          {
            "node": "Verify Excel File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Excel File": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9b92320c-1b77-4d9b-8e99-7b9ab10e0729",
  "meta": {
    "instanceId": "3593997ae0ebe5f56692a957ceab0f91ff102f35505e9b50cb45630a42cdadde"
  },
  "id": "gSi7vlUxGOvRrGVF",
  "tags": []
}