n8n/vps_automation_vhck_v5_modular.json
{
  "name": "VPS Automation VHCK v6 - Simplified (All Sources)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-schedule",
      "name": "Cron (12h, 17h)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        64,
        112
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger (Test)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const { spawn } = require('child_process');\n\nreturn new Promise((resolve) => {\n  // First, try to diagnose the environment\n  const diagProcess = spawn('which', ['python3']);\n  let pythonPath = '';\n  let diagError = '';\n\n  diagProcess.stdout.on('data', (data) => {\n    pythonPath += data.toString().trim();\n  });\n\n  diagProcess.stderr.on('data', (data) => {\n    diagError += data.toString();\n  });\n\n  diagProcess.on('close', () => {\n    const scriptPath = '/Users/hieudt/vps-automation-vhck/scripts/fetch_vsd.py';\n    const pythonExe = pythonPath || 'python3';\n\n    const pythonProcess = spawn(pythonExe, [scriptPath]);\n    let output = '';\n    let errorOutput = '';\n    \n    const timeout = setTimeout(() => {\n      pythonProcess.kill();\n      resolve([{\n        json: {\n          error: 'Script execution timeout (300s exceeded)',\n          status: 'timeout'\n        }\n      }]);\n    }, 300000);\n\n    pythonProcess.stdout.on('data', (data) => {\n      output += data.toString();\n    });\n\n    pythonProcess.stderr.on('data', (data) => {\n      errorOutput += data.toString();\n    });\n\n    pythonProcess.on('close', (code) => {\n      clearTimeout(timeout);\n      if (code !== 0) {\n        resolve([{\n          json: {\n            error: `Script exited with code ${code}`,\n            stderr: errorOutput,\n            pythonPath: pythonPath,\n            scriptPath: scriptPath,\n            status: 'error'\n          }\n        }]);\n        return;\n      }\n\n      try {\n        const vsdData = JSON.parse(output);\n        resolve([{ json: { data: vsdData } }]);\n      } catch (e) {\n        resolve([{\n          json: {\n            error: 'Failed to parse JSON output',\n            message: e.message,\n            status: 'error'\n          }\n        }]);\n      }\n    });\n\n    pythonProcess.on('error', (error) => {\n      clearTimeout(timeout);\n      resolve([{\n        json: {\n          error: error.message,\n          pythonPath: pythonPath,\n          status: 'error'\n        }\n      }]);\n    });\n  });\n});"
      },
      "id": "node-fetch-vsd",
      "name": "Fetch VSD (Tin Tuc)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        288,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine results from VSD only\nconst vsdOutput = $node[\"Fetch VSD (Tin Tuc)\"].json;\nconst vsdResult = vsdOutput.data || vsdOutput;\n\nconst allRecords = [];\nconst recordMap = {};\n\n// Add VSD records\nif (vsdResult?.data && Array.isArray(vsdResult.data)) {\n  vsdResult.data.forEach(record => {\n    allRecords.push({ ...record, source: 'VSD' });\n    recordMap[record.code] = record;\n  });\n}\n\nreturn [{\n  vsd_count: vsdResult?.count || 0,\n  total_unique: allRecords.length,\n  vsd_status: vsdResult?.status,\n  all_records: allRecords,\n  vsd_data: vsdResult,\n  collected_at: new Date().toISOString()\n}];"
      },
      "id": "node-combine-results",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        512,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst combined = input;\nconst records = combined.all_records || [];\n\nconst processed = records.map(record => ({\n  code: record.code,\n  symbol: record.code,\n  mã_chứng_khoán: record.code,\n  tên_tổ_chức_đăng_ký: record.tên_tổ_chức_đăng_ký || \"Cần cập nhật\",\n  tên_chứng_khoán: record.tên_chứng_khoán || \"Cần cập nhật\",\n  mã_isin: record.mã_isin || \"Cần cập nhật\",\n  nơi_giao_dịch: record.nơi_giao_dịch || record.source || \"N/A\",\n  loại_chứng_khoán: record.loại_chứng_khoán || \"Trái Phiếu\",\n  ngày_đăng_ký_cuối: record.ngày_đăng_ký_cuối || \"Cần cập nhật\",\n  lý_do_mục_đích: record.lý_do_mục_đích || \"Cần cập nhật\",\n  tỷ_lệ_thực_hiện: record.tỷ_lệ_thực_hiện || \"Cần cập nhật\",\n  thời_gian_thực_hiện: record.thời_gian_thực_hiện || \"Cần cập nhật\",\n  địa_điểm_thực_hiện: record.địa_điểm_thực_hiện || \"Cần cập nhật\",\n  quyền_nhận_lãi: record.quyền_nhận_lãi || \"Chưa xác định\",\n  quyền_trả_gốc: record.quyền_trả_gốc || \"Chưa xác định\",\n  quyền_chuyển_đổi: record.quyền_chuyển_đổi || \"Chưa xác định\",\n  source: record.source,\n  title: record.title,\n  url: record.url,\n  status: \"pending\",\n  confirmation_status: \"awaiting_review\",\n  collected_at: combined.collected_at,\n  source_links: { vsd: \"https://www.vsd.vn/vi/tin-thi-truong-co-so\" }\n}));\n\nreturn [{ json: { records: processed, total: processed.length } }];"
      },
      "id": "node-process-data",
      "name": "Process & Structure Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        736,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require(\"fs\");\n\nconst input = $input.first().json;\nconst records = input.records || [];\nconst timestamp = new Date().toLocaleString(\"vi-VN\");\n\nconst summary = {\n  total: records.length,\n  vsd: records.length,\n  total_unique: records.length,\n  pending_confirmation: records.filter(r => r.confirmation_status === \"awaiting_review\").length\n};\n\nconst jsonFilePath = \"/Users/hieudt/vps-automation-vhck/data/vsd_records.json\";\nconst jsonData = {\n  source: \"VSD\",\n  collected_at: new Date().toISOString(),\n  timestamp: timestamp,\n  total_records: records.length,\n  summary: summary,\n  records: records\n};\n\nfs.writeFileSync(jsonFilePath, JSON.stringify(jsonData, null, 2), \"utf-8\");\n\nconst markdown = \"# Kết Quả Thu Thập Thông Tin Quyền Chứng Khoán\\n\\n## 📊 Thống Kê\\n\\n- **Cập nhật lúc:** \" + timestamp + \"\\n- **Tổng bản ghi (duy nhất):** \" + summary.total + \"\\n  - VSD: \" + summary.vsd + \"\\n- **Chờ xác nhận:** \" + summary.pending_confirmation + \"\\n\\n---\";\n\nreturn [{\n  json: {\n    markdown: markdown,\n    records: records,\n    summary: summary,\n    timestamp: new Date().toISOString(),\n    json_file: jsonFilePath,\n    json_size: fs.statSync(jsonFilePath).size\n  }\n}];"
      },
      "id": "node-generate-markdown",
      "name": "Generate Markdown Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        960,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/Users/hieudt/vps-automation-vhck/data/result.md';\nconst input = $input.first().json;\nconst records = input.records;\nconst summary = input.summary;\n\nconst timestamp = new Date().toLocaleString('vi-VN');\nconst newRecords = summary.vsd || records.length;\nconst totalRecords = records.length;\nconst pendingCount = records.filter(r => r.confirmation_status === 'awaiting_review').length;\n\n// Tạo section cập nhật mới (hiển thị lên trên)\nconst updateSection = `## 📊 Thống Kê\\n\\n- **Cập nhật lúc:** ${timestamp}\\n- **Tổng bản ghi (duy nhất):** ${totalRecords}\\n  - VSD: ${summary.vsd}\\n- **Chờ xác nhận:** ${pendingCount}\\n`;\n\ntry {\n  let existingContent = '';\n  let history = '';\n  \n  // Đọc file cũ nếu tồn tại\n  if (fs.existsSync(path)) {\n    existingContent = fs.readFileSync(path, 'utf-8');\n  }\n  \n  // Trích history content từ file cũ (nội dung sau separator ---)\n  let historyContent = '';\n  if (existingContent && existingContent.includes('---')) {\n    const separatorIndex = existingContent.indexOf('---');\n    historyContent = existingContent.substring(separatorIndex + 3).trim();\n  } else if (existingContent) {\n    // Nếu không có separator, extract nội dung cũ làm history (bỏ header)\n    const headerLine = '# Kết Quả Thu Thập Thông Tin Quyền Chứng Khoán';\n    const headerStart = existingContent.indexOf(headerLine);\n    if (headerStart !== -1) {\n      const headerEnd = headerStart + headerLine.length;\n      let content = existingContent.substring(headerEnd);\n      // Bỏ qua khoảng trắng đầu\n      content = content.replace(/^\\s+/, '');\n      if (content) {\n        historyContent = content;\n      }\n    }\n  }\n  \n  // Xây dựng nội dung file mới: header + update mới + separator + history cũ\n  const headerLine = '# Kết Quả Thu Thập Thông Tin Quyền Chứng Khoán';\n  let newContent = headerLine + '\\n\\n' + updateSection + '\\n---';\n  \n  // Thêm history content nếu có\n  if (historyContent) {\n    newContent += '\\n\\n' + historyContent;\n  }\n  \n  // Ghi file\n  fs.writeFileSync(path, newContent, 'utf-8');\n  \n  return [{\n    json: {\n      status: 'success',\n      message: 'Updated result.md with new data and preserved history',\n      file: path,\n      timestamp: new Date().toISOString(),\n      new_records: newRecords,\n      total_records: totalRecords,\n      pending_count: pendingCount\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      status: 'error',\n      message: error.message,\n      file: path\n    }\n  }];\n}"
      },
      "id": "node-save-result",
      "name": "Save to result.md (File)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1184,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'success',\n    message: 'Workflow hoàn thành!',\n    timestamp: new Date().toISOString(),\n    next_step: 'Xem result.md để review dữ liệu'\n  }\n}];"
      },
      "id": "node-completion",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1408,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const { spawn } = require('child_process');\n\nreturn new Promise((resolve) => {\n  // Start HTTP server if not running\n  const checkCmd = spawn('lsof', ['-i', ':8000']);\n  \n  checkCmd.on('close', (code) => {\n    if (code === 0) {\n      // Server already running\n      resolve([{\n        json: {\n          status: 'success',\n          message: 'HTTP server already running',\n          url: 'http://localhost:8000/web/vps_automation_vhck.html'\n        }\n      }]);\n    } else {\n      // Start server\n      const startCmd = spawn('bash', ['-c', 'cd /Users/hieudt/vps-automation-vhck && python3 -m http.server 8000 > /tmp/http_server.log 2>&1 &']);\n      \n      startCmd.on('close', () => {\n        setTimeout(() => {\n          resolve([{\n            json: {\n              status: 'success',\n              message: 'HTTP server started',\n              url: 'http://localhost:8000/web/vps_automation_vhck.html',\n              timestamp: new Date().toISOString()\n            }\n          }]);\n        }, 2000);\n      });\n    }\n  });\n});"
      },
      "id": "node-start-server",
      "name": "Start HTTP Server",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1632,
        208
      ]
    }
  ],
  "connections": {
    "Cron (12h, 17h)": {
      "main": [
        [
          {
            "node": "Fetch VSD (Tin Tuc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Test)": {
      "main": [
        [
          {
            "node": "Fetch VSD (Tin Tuc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch VSD (Tin Tuc)": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Process & Structure Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Structure Data": {
      "main": [
        [
          {
            "node": "Generate Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Markdown Report": {
      "main": [
        [
          {
            "node": "Save to result.md (File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to result.md (File)": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Complete": {
      "main": [
        [
          {
            "node": "Start HTTP Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start HTTP Server": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Ho_Chi_Minh",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
