n8n/vps_automation_vhck_v5_modular.json
{
  "name": "VPS Automation VHCK v6 - Simplified (All Sources)",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 12,17 * * *"
      },
      "id": "trigger-schedule",
      "name": "⏰ Cron (12h, 17h)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        50,
        200
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "🔘 Manual Trigger (Test)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        50,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const { spawn } = require('child_process');\n\nreturn new Promise((resolve) => {\n  const scriptPath = '/app/vps-automation-vhck/scripts/fetch_vsd.py';\n  const pythonExe = 'python3';\n\n  const pythonProcess = spawn(pythonExe, [scriptPath]);\n  let output = '';\n  let errorOutput = '';\n\n  pythonProcess.stdout.on('data', (data) => {\n    output += data.toString();\n  });\n\n  pythonProcess.stderr.on('data', (data) => {\n    errorOutput += data.toString();\n  });\n\n  pythonProcess.on('close', (code) => {\n    if (code !== 0) {\n      resolve([{\n        json: {\n          error: 'Script exited with code ' + code,\n          stderr: errorOutput,\n          status: 'error'\n        }\n      }]);\n      return;\n    }\n\n    try {\n      const vsdData = JSON.parse(output);\n      resolve([{ json: { data: vsdData } }]);\n    } catch (e) {\n      resolve([{\n        json: {\n          error: 'Failed to parse JSON output',\n          message: e.message,\n          status: 'error'\n        }\n      }]);\n    }\n  });\n\n  pythonProcess.on('error', (error) => {\n    resolve([{\n      json: {\n        error: error.message,\n        status: 'error'\n      }\n    }]);\n  });\n});"
      },
      "id": "node-fetch-vsd",
      "name": "1️⃣ Fetch VSD (Tin Tức)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        250,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const vsdOutput = $node[\"1️⃣ Fetch VSD (Tin Tức)\"].json;\nconst vsdResult = vsdOutput.data || vsdOutput;\n\nconst allRecords = [];\nconst recordMap = {};\n\nif (vsdResult && vsdResult.data && Array.isArray(vsdResult.data)) {\n  vsdResult.data.forEach(record => {\n    allRecords.push({ ...record, source: 'VSD' });\n    recordMap[record.code] = record;\n  });\n}\n\nreturn [{\n  json: {\n    vsd_count: vsdResult && vsdResult.count ? vsdResult.count : 0,\n    total_unique: allRecords.length,\n    vsd_status: vsdResult && vsdResult.status ? vsdResult.status : 'unknown',\n    all_records: allRecords,\n    vsd_data: vsdResult,\n    collected_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-combine-results",
      "name": "4️⃣ Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        550,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst combined = input;\nconst records = combined.all_records || [];\n\nconst processed = records.map(record => ({\n  code: record.code,\n  symbol: record.code,\n  mã_chứng_khoán: record.code,\n  tên_tổ_chức_đăng_ký: record.tên_tổ_chức_đăng_ký || 'Cần cập nhật',\n  tên_chứng_khoán: record.tên_chứng_khoán || 'Cần cập nhật',\n  mã_isin: record.mã_isin || 'Cần cập nhật',\n  nơi_giao_dịch: record.nơi_giao_dịch || record.source || 'N/A',\n  loại_chứng_khoán: record.loại_chứng_khoán || 'Trái Phiếu',\n  ngày_đăng_ký_cuối: record.ngày_đăng_ký_cuối || 'Cần cập nhật',\n  lý_do_mục_đích: record.lý_do_mục_đích || 'Cần cập nhật',\n  tỷ_lệ_thực_hiện: record.tỷ_lệ_thực_hiện || 'Cần cập nhật',\n  thời_gian_thực_hiện: record.thời_gian_thực_hiện || 'Cần cập nhật',\n  địa_điểm_thực_hiện: record.địa_điểm_thực_hiện || 'Cần cập nhật',\n  quyền_nhận_lãi: record.quyền_nhận_lãi || 'Chưa xác định',\n  quyền_trả_gốc: record.quyền_trả_gốc || 'Chưa xác định',\n  quyền_chuyển_đổi: record.quyền_chuyển_đổi || 'Chưa xác định',\n  source: record.source,\n  title: record.title,\n  url: record.url,\n  status: 'pending',\n  confirmation_status: 'awaiting_review',\n  collected_at: combined.collected_at,\n  source_links: { vsd: 'https://www.vsd.vn/vi/tin-thi-truong-co-so' }\n}));\n\nreturn [{ json: { records: processed, total: processed.length } }];"
      },
      "id": "node-process-data",
      "name": "5️⃣ Process & Structure Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        750,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst input = $input.first().json;\nconst records = input.records || [];\nconst timestamp = new Date().toLocaleString('vi-VN');\n\nconst summary = {\n  total: records.length,\n  vsd: records.length,\n  total_unique: records.length,\n  pending_confirmation: records.filter(r => r.confirmation_status === 'awaiting_review').length\n};\n\nconst jsonFilePath = '/app/vps-automation-vhck/vsd_records.json';\nconst jsonData = {\n  source: 'VSD',\n  collected_at: new Date().toISOString(),\n  timestamp: timestamp,\n  total_records: records.length,\n  summary: summary,\n  records: records\n};\n\nfs.writeFileSync(jsonFilePath, JSON.stringify(jsonData, null, 2), 'utf-8');\n\nconst markdown = '# Kết Quả Thu Thập Thông Tin Quyền Chứng Khoán\\n\\n## 📊 Thống Kê\\n\\n- **Cập nhật lúc:** ' + timestamp + '\\n- **Tổng bản ghi (duy nhất):** ' + summary.total + '\\n  - VSD: ' + summary.vsd + '\\n- **Chờ xác nhận:** ' + summary.pending_confirmation + '\\n\\n---';\n\nreturn [{\n  json: {\n    markdown: markdown,\n    records: records,\n    summary: summary,\n    timestamp: new Date().toISOString(),\n    json_file: jsonFilePath,\n    json_size: fs.statSync(jsonFilePath).size\n  }\n}];"
      },
      "id": "node-generate-markdown",
      "name": "6️⃣ Generate Markdown Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        950,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/app/vps-automation-vhck/result.md';\nconst input = $input.first().json;\nconst markdown = input.markdown;\nconst records = input.records;\nconst summary = input.summary;\n\ntry {\n  fs.writeFileSync(path, markdown, 'utf-8');\n  \n  return [{\n    json: {\n      status: 'success',\n      message: 'Saved ' + records.length + ' records to result.md',\n      file: path,\n      timestamp: new Date().toISOString(),\n      records_count: records.length,\n      summary: summary\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      status: 'error',\n      message: error.message,\n      file: path\n    }\n  }];\n}"
      },
      "id": "node-save-result",
      "name": "7️⃣ Save to result.md (File)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1150,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'success',\n    message: 'Workflow hoàn thành!',\n    timestamp: new Date().toISOString(),\n    next_step: 'Xem result.md để review dữ liệu'\n  }\n}];"
      },
      "id": "node-completion",
      "name": "✅ Workflow Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1350,
        250
      ]
    }
  ],
  "connections": {
    "⏰ Cron (12h, 17h)": {
      "main": [
        [
          {
            "node": "1️⃣ Fetch VSD (Tin Tức)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔘 Manual Trigger (Test)": {
      "main": [
        [
          {
            "node": "1️⃣ Fetch VSD (Tin Tức)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣ Fetch VSD (Tin Tức)": {
      "main": [
        [
          {
            "node": "4️⃣ Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4️⃣ Combine Results": {
      "main": [
        [
          {
            "node": "5️⃣ Process & Structure Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5️⃣ Process & Structure Data": {
      "main": [
        [
          {
            "node": "6️⃣ Generate Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6️⃣ Generate Markdown Report": {
      "main": [
        [
          {
            "node": "7️⃣ Save to result.md (File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7️⃣ Save to result.md (File)": {
      "main": [
        [
          {
            "node": "✅ Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Ho_Chi_Minh"
  }
}
